*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
li{
    color: yellow;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 20px;
    text-decoration: none;
}
ul {
    color: yellow;
    margin-top: 4%;
    margin-right: 20px;
    margin-left: 40px;
    font-weight: bold;
    font-size: xx-large;
}
body{ background-color: black; 
    background-position: center;
    background-size: cover;
}
#JV{
    border: 20px solid rgb(129, 129, 129);
    background-color: black;
    color: white;
    text-align: center;
    padding: 5%;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 5%;
    margin-right: 60%;
    margin-top: 5%;

    cursor: pointer;

}
/* #JV:hover{
    transition: ease-in-out;
    transition: 1.2s;
    cursor: pointer;
} */
.head{
    color: white;
    margin-top: 10%;
    font-weight: bold;
    font-size: 3rem;
    font-family: sans-serif;

}
#para{
    font-size: 3rem;
    font-weight: bold;
    margin: 2%;
    color:white;
}
.click{
    border: 5px solid yellow;
    text-align: center;
    font-weight: bold;
    color: blue;
    font-size: xx-large;
    border-radius: 50px;
    width:200px;
    height: 50px;
    cursor: pointer;
}